<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style-home.css">
</head>
<header>
    <div class="cabecalho">
        <div class="dropdown">
            <button class="botao-minha-conta">Minha Conta</button>
            <div class="dropdown-content">
                <a href="/users">Usuários</a>
            </div>
        </div>
    </div>
</header>
<body>
        
        <h1>Bem-vindo, <%= usuario %>!</h1>
        <p>Estamos felizes em tê-lo de volta. Explore nosso site e aproveite os recursos disponíveis.</p>

    </div>
</body>
</html>